*.class

libs/*/build/
libs/*/dist/

nmlibs/*/dist/lib/

nomad/jpf-boot-error.txt
nomad/osx-dist/
nomad/nomad-dist/

nomad/nomad-source/plugins/
nomad/nomad-source/plugin-tmp/
nomad/nomad-source/libs/
nomad/nomad-source/*/build/
nomad/nomad-source/*/dist/
nomad/nomad-source/logfile.txt
nomad/nomad-source/nomad.jar

nomad/project-utils/project-utils.jar

*.zip
